.skills-container {
    background-color: #00072D;
    padding: 40px 0px;


}
.skills-picture-container {
    display: flex;
}
.pictures-text-container {
    display: flex;
    justify-content: space-around;
}
.skills-picture{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills-picture img{
    width: 500px;
    height: 400px;
}
.skills-bottoms{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.skilss-bottoms {
    font-size: 40px
}
.skills-title h1 {
    text-align: center;
    color: #fff;
    padding: 20px 0px;
}