.welcome-container {
    height: 800px;
    padding-top: 100px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    display: flex;

    align-items: center;
    justify-content: center;


}
.welcome-container a {
    text-decoration: none;
}
.welcome-container .text{
    color: white;
    text-align: center;
    width: 70%


}
.welcome-container p {
    font-size: 40px;
}
.welcome-container h1 {
    font-size: 80px;
}
